<?xml version="1.0"?>
<ruleset name="cdx_logging">
    <description>The coding standard for cdx_logging.</description>

    <file>Classes/</file>
    <file>Tests/</file>
    <file>ext_emconf.php</file>

    <rule ref="CGL-TYPO3" />
</ruleset>
